<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js}"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <!--<title>Metronic | Metronic | Admin Dashboard Template</title>-->
    <!--<title th:if="${title}" th:text="${title}"></title>
    <title th:unless="${title}">吉祥ULD管理系统</title>-->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">xx系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link th:href="@{Metronic-4.1.0/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{Metronic-4.1.0/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{Metronic-4.1.0/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{Metronic-4.1.0/theme/assets/global/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link th:href="@{Metronic-4.1.0/theme/assets/global/css/components-rounded.css}" id="style_components" rel="stylesheet" type="text/css">
    <link th:href="@{Metronic-4.1.0/theme/assets/global/css/plugins.css}" rel="stylesheet" type="text/css">
    <link th:href="@{Metronic-4.1.0/theme/assets/admin/layout3/css/layout.css}" rel="stylesheet" type="text/css">
    <link th:href="@{Metronic-4.1.0/theme/assets/admin/layout3/css/themes/default.css}" rel="stylesheet" type="text/css" id="style_color">
    <link th:href="@{Metronic-4.1.0/theme/assets/admin/layout3/css/custom.css}" rel="stylesheet" type="text/css">
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    <div th:replace="common/header :: header"></div>
    <div class="page-container">
        <div class="page-head">
            <div class="container">
                <div class="page-title">
                    <h1>Dashboard <small>statistics & reports</small></h1>
                </div>
            </div>
        </div>
        <div class="page-content" layout:fragment="content"></div>
    </div>
    <div th:replace="common/prefooter :: prefooter"></div>
    <div th:replace="common/footer :: footer"></div>
    <div th:replace="common/scroll :: scroll"></div>

    <!-- BEGIN JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <th:block th:fragment="scriptboot">
        <!--[if lt IE 9]>
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/respond.min.js}"></script>
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/excanvas.min.js}"></script>
        <![endif]-->
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/jquery-migrate.min.js}" type="text/javascript"></script>
        <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/jquery-ui/jquery-ui.min.js}" type="text/javascript"></script>
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}" type="text/javascript"></script>
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/jquery.cokie.min.js}" type="text/javascript"></script>
        <script th:src="@{Metronic-4.1.0/theme/assets/global/plugins/uniform/jquery.uniform.min.js}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script th:src="@{Metronic-4.1.0/theme/assets/global/scripts/metronic.js}" type="text/javascript"></script>
        <script th:src="@{Metronic-4.1.0/theme/assets/admin/layout3/scripts/layout.js}" type="text/javascript"></script>
        <script th:src="@{Metronic-4.1.0/theme/assets/admin/layout3/scripts/demo.js}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script th:inline="javascript">
            jQuery(document).ready(function() {
                Metronic.init(); // init metronic core componets
                Layout.init(); // init layout
                Demo.init(); // init demo(theme settings page)
            });
        </script>
        <!-- END JAVASCRIPTS -->
    </th:block>

    <!-- 自定义javaScript -->
    <th:block layout:fragment="innerscript"></th:block>
</body>
<!-- END BODY -->
</html>