<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<!--<head th:include="layout/layout :: htmlhead" th:with="title='主页'">
    <link th:href="@{test.css}" rel="stylesheet" type="text/css">
</head>-->
<head>
    <title>DataTables测试</title>
</head>
<body>
<div class="page-content" layout:fragment="content">
    <div class="container">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="#">Home</a><i class="fa fa-circle"></i>
            </li>
            <li class="active">
                用户管理
            </li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift">用户查询</i>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="horizontal-form" id="queryForm" th:object="${queryDTO}" method="post" th:action="@{/admin/user}">
                            <div class="form-body">
                                <!--<h3 class="form-section">查询条件</h3>-->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="userCode">用户代码</label>
                                            <input type="text" class="form-control input-sm" placeholder="用户代码"
                                                   id="userCode" name="userCode" th:field="*{userCode}">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="userName">用户名称</label>
                                            <input type="text" class="form-control input-sm" placeholder="中文名/英文名"
                                                   id="userName" name="userName" th:field="*{userName}">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="locked">锁定状态</label>
                                            <select class="form-control input-sm"
                                                    id="locked" name="locked" th:field="*{locked}">
                                                <option th:each="locked : ${lockedList}"
                                                    th:value="${locked.value}" th:text="${locked.label}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-success btn-sm" id="search"><i class="fa fa-search"></i> 查询</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">查询结果</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table id="dataTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>用户代码</th>
                                    <th>用户名</th>
                                    <th>中文名</th>
                                    <th>锁定状态</th>
                                    <th>邮件</th>
                                    <th>地址</th>
                                    <th>联系方式</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script layout:fragment="innerscript">
    $( function () {
        var table = $('#dataTable').DataTable({
            "paging" : true,  //是否开启本地分页
            "lengthChange" : false, //是否允许用户改变表格每页显示的记录数
            "searching" : false, //是否允许Datatables开启本地搜索
            "processing" : true, //是否显示处理状态
            "deferRender" : true, //控制Datatables的延迟渲染，可以提高初始化的速度
            "serverSide" : true,
            // "lengthMenu" : [1,2,3],
            "pageLength" : 2,
            "ajax" : {
                "url" : "/admin/user/query.json",
                "type" : "POST",
                "data" : function (d) {
                    // 获取表格分页信息
                    var info = $('#dataTable').DataTable().page.info();
                    d.page = info.page + 1;
                    d.size = info.length;
                    // 查询条件
                    d.userCode = $("#userCode").val();
                    d.userName = $("#userName").val();
                    d.locked = $("#locked").val();
                }
            },
            "columns" : [
                {"data" : "userId"},
                {"data" : "userCode"},
                {"data" : "userNameCn"},
                {"data" : "userNameEn"},
                {
                    "data" : "locked",
                    "render" : function (data, type, full, meta) {
                        return data == "Y" ? "是" : "否";
                    }
                },
                {"data" : "email"},
                {"data" : "address"},
                {"data" : "phone"},
                {
                    "data" : null,
                    "render" : function (data, type, full, meta) {
                        return '<span class="fa fa-pencil" style="cursor: pointer" title="修改" onclick="modifyUser('+full.userId+')"></span>' +
                            '<span class="fa fa-remove" style="cursor: pointer" title="删除" onclick="deleteUser('+full.userId+')"></span>' +
                            '<span class="fa fa-repeat" style="cursor: pointer" title="重置密码" onclick="resetPassword('+full.userId+')"></span>'
                    }
                }
            ]
        });

        // 查询操作
        $(document).delegate('#search','click',function() {
            table.ajax.reload();
        });
    });

    function deleteUser(id) {
        if (confirm("确认要删除？")) {
            $.ajax({
                type : "POST",
                // url : /*[[@{/admin/user/delete}]]*/"",
                url : "/admin/user/delete",
                data : {
                    id : id
                },
                success : function (reponse) {
                    if ('failure' == reponse.status) {
                        alert(reponse.message)
                    } else {
                        alert("成功")
                    }
                }
            })
        }
    }
</script>

</body>
</html>
